$primaryDark:#282C34;
$primaryLight: #f2f0e6;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
}
body {
    font-size:1.6rem;
    font-family: "Open Sans", Ubuntu, "Nimbus Sans L", Avenir, AvenirNext, "Segoe UI", Helvetica, Arial, sans-serif;
    letter-spacing:1.8px;
    line-height:2.2;
    font-weight:300;
    padding:2rem;
    color:$primaryLight;
    background:$primaryDark;
}
h1,h2,h3,h4{
    letter-spacing:1rem;
    font-family: "Times New Roman", Times, serif;
    font-weight:600;
    text-align:center;
    text-transform:uppercase;
}
h1{
    font-size:3rem;
    letter-spacing:1rem;

}
.border-bottom{
    border-bottom: 8px solid $primaryLight;

}
p{
    text-indent:5rem;
    padding:2rem;
    text-align:justify;
}
@media(min-width:768px){
    body{
        letter-spacing:.6rem;
    }
    h1, h2, h3, h4 {
        letter-spacing: 1rem;
        font-family: "Times New Roman", Times, serif;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3rem;
    }

    h1 {
        font-size: 3.8rem;
    }

    p {
        padding: 2rem 8rem;
    }
}
